.custom_input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 16px;
  height: 16px;
  border: 2px solid #D4DFEE;
  border-radius: 0.2em;
  transform: translateY(-0.05em);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.custom_input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  /* position: absolute; */
  inset: 0;
  top: 1px;
  left: 0.75px;
  border-radius: 2px;
  transform: scale(0);
  transform-origin: center;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #4E7DD9;
}

.custom_input[type="checkbox"][data-size="lg"] {
  width: 20px;
  height: 20px;
}

.custom_input[type="checkbox"][data-size="lg"]::before {
  width: 13px;
  height: 14px;
}

.custom_input[type="checkbox"][data-size="xl"] {
  width: 24px;
  height: 24px;
}

.custom_input[type="checkbox"][data-size="xl"]::before {
  width: 16px;
  height: 16px;
}

.custom_input[type="checkbox"]:checked::before {
  transform: scale(1);
}