.custom_input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 16px;
  height: 16px;
  border: 2px solid #9B9B9B;
  border-radius: 0.2em;
  transform: translateY(-0.05em);
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
}

.custom_input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  inset: 0;
  top: 1px;
  left: 0.75px;
  border-radius: 2px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #4E7DD9;
}

.custom_input[type="checkbox"]:checked::before {
  transform: scale(1);
}